body {
  margin: 0;
  background-color: #f7f7f7;
  padding: 20px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 350px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

#new-todo {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;

  outline: none;
  transition: border-color 0.3s;
}

#new-todo:focus {
  border-color: #0056b3;
}

form button {
  border: none;
  background-color: #0056b3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button {
  background-color: tomato;
  border: none;
  color: white;
  border-radius: 4px;
}

button:hover {
  opacity: 0.9;
}

form button:hover {
  background-color: #004494;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-top: 8px;
  padding: 10px;
  border-radius: 4px;

  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:hover {
  background-color: #efefef;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

.delete-button {
  background-color: tomato;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}