* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h2 {
  color: blue;
}

p {
  color: green;
}

ul {
  background-color: lightcoral;
}

.btn {
  background-color: black;
  color: white;
  border: none;
}

.primary {
  background-color: green;
  color: yellow;
}

.secondary, li {
  font-weight: 900;
  padding: 15px;
}

div, a, .primary {
  text-decoration: underline;
}